option domain-name "example.com";
option domain-name-servers 192.168.0.100;
default-lease-time 600;
max-lease-time 7200;

authoritative;

ddns-update-style interim;
update-static-leases on;

allow booting;
allow bootp;
allow unknown-clients;

log-facility local7;

key dhcp_updater {
  algorithm hmac-md5;
  secret kJXeaOPPGtoko0KKwTfCZg==;
}

zone 0.168.192.in-addr.arpa {
  primary 192.168.0.100;
  key dhcp_updater;
}

zone example.com {
  primary 192.168.0.100;
  key dhcp_updater;
}

subnet 192.168.0.0  netmask 255.255.255.0 {
  option broadcast-address 192.168.0.255;
  option routers 192.168.0.1;
  option domain-name "example.com";
  option domain-name-servers 192.168.0.100;

  # Known Client
  pool {
    range 192.168.0.1 192.168.0.50;
    deny unknown clients;
  }

  # Unknown machines
  pool {
    range 192.168.0.51 192.168.0.253;
    allow unknown clients;
    ddns-hostname = concat(binary-to-ascii(10, 8, "-", leased-address), "-wifi");
    ddns-domainname = "example.com";
  }
  next-server 192.168.0.100;
  filename "/pxelinux.0";
}

host jenkins {
  hardware ethernet 00:0c:29:3c:f5:a7;
  server-name "jenkins.example.com";
  fixed-address 192.168.0.130;
}
